<a href="https://colab.research.google.com/github/gnssl98/MachineLearning_Repo/blob/master/kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install kaggle --upgrade

Requirement already up-to-date: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied, skipping upgrade: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.2)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [5]:
from google.colab import auth
auth.authenticate_user()

In [7]:
from google.colab import drive
drive.mount('/content/g')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/g

In [29]:
!mkdir -p ~/.kaggle
!cp "/content/g/My Drive/2020_Kaggle/kaggle.json" ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [44]:
!chmod 600 ~/.kaggle/kaggle.json

In [34]:
!kaggle -v

Kaggle API 1.5.6

In [35]:
!kaggle competitions list

ref                                               deadline             category            reward  teamCount  userHasEntered
------------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
tpu-getting-started                               2030-06-03 23:59:00  Getting Started      Kudos         43           False
digit-recognizer                                  2030-01-01 00:00:00  Getting Started  Knowledge       3399           False
titanic                                           2030-01-01 00:00:00  Getting Started  Knowledge      25855           False
house-prices-advanced-regression-techniques       2030-01-01 00:00:00  Getting Started  Knowledge       5806           False
connectx                                          2030-01-01 00:00:00  Getting Started  Knowledge        574           False
nlp-getting-started                               2030-01-01 00:00:00  Getting Started      Kudos       1833           False
competitive-data-science-predict-future-sales     2020-12-31 23:59:00  Playground           Kudos       7423           False
halite                                            2020-09-15 23:59:00  Featured              Swag        306           False
birdsong-recognition                              2020-09-15 23:59:00  Research           $25,000        111           False
siim-isic-melanoma-classification                 2020-08-17 23:59:00  Featured           $30,000       1211           False
global-wheat-detection                            2020-08-04 23:59:00  Research           $15,000       1008           False
open-images-object-detection-rvc-2020             2020-07-31 16:00:00  Playground       Knowledge         36           False
open-images-instance-segmentation-rvc-2020        2020-07-31 16:00:00  Playground       Knowledge          7           False
hashcode-photo-slideshow                          2020-07-27 23:59:00  Playground       Knowledge         41           False
prostate-cancer-grade-assessment                  2020-07-22 23:59:00  Featured           $25,000        631           False
alaska2-image-steganalysis                        2020-07-20 23:59:00  Research           $25,000        641           False
m5-forecasting-accuracy                           2020-06-30 23:59:00  Featured           $50,000       5204           False
m5-forecasting-uncertainty                        2020-06-30 23:59:00  Featured           $50,000        743           False
trends-assessment-prediction                      2020-06-29 23:59:00  Research           $25,000        927           False
jigsaw-multilingual-toxic-comment-classification  2020-06-22 23:59:00  Featured           $50,000       1625           False

In [45]:
!kaggle competitions download -c titanic

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 26.7MB/s]

### Error 발생
(Error)<br>Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4) 403 - Forbidden<br>
-> 뒤의 403 Forbidden을 인지하고 못하고 버전 문제인줄 알고 접근<br>
(Solution)<br>!pip install --upgrade --force-reinstall --no-deps kaggle<br>
kaggle의 버전이 1.56으로 변경 후 다시 다운로드 시도
<hr>
(Error)<br>403 - Forbidden<br>
-> 권한이 없음을 인지<br>
(Solution)<br>홈페이지에 competition에 참가 후 다운로드 ->해결
<br><br>
(Reference Site) https://www.kaggle.com/c/rsna-intracranial-hemorrhage-detection/discussion/109520

In [36]:
!pip install --upgrade --force-reinstall --no-deps kaggle

Processing /root/.cache/pip/wheels/57/4e/e8/bb28d035162fb8f17f8ca5d42c3230e284c6aa565b42b72674/kaggle-1.5.6-cp36-none-any.whl
Installing collected packages: kaggle
  Found existing installation: kaggle 1.5.6
    Uninstalling kaggle-1.5.6:
      Successfully uninstalled kaggle-1.5.6
Successfully installed kaggle-1.5.6

titanic data가 zip형식으로 압축되어 있어서 리눅스 명령어로 해제 시도<br>

In [46]:
!unzip titanic.zip

Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

## 데이터 로드
Numpy, Pandas, Matpltlib 패키지 import<br>
Pands의 read_csv 모듈을 통해 데이터 로드

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df_train = pd.read_csv('./train.csv')
df_test = pd.read_csv('./test.csv')

In [49]:
df_train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [52]:
df_gender = pd.read_csv('./gender_submission.csv')

In [80]:
df_train

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [70]:
%matplotlib inline
import seaborn as sns
sns.set()
def bar_chart(feature):
​  survived = df_train[df_train['Survived']==1][feature].value_counts()
  dead = df_train[df_train['Survived']==0][feature].value_counts()
​  df = pd.DataFrame([survived,dead])
​  df.index = ['Survived','Dead']
​  df.plot(kind='bar',stacked=True, figsize=(10,5))

SyntaxError: ignored